<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear />
    <add key="Hero" value="gjulianm" />
    <add key="ConsumerKey" value="E5MvEqrdTo6ZUrJyBg6A" />
    <add key="ConsumerSecret" value="1WjAjGyUl7iHUelg4S1lhWhIaS8jXWx504bmfo3ndo" />
    <add key="AccessToken" value="314719167-C5KRr7KV5C6UM1LEHls4MNEy5b2jjPbuyl3SqFT1" />
    <add key="AccessTokenSecret" value="5LFWFgzvaKp7Tx1W5DXj0SBNEUOL1p6hWbijKBrE4" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
